.contact-us {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ),  url("/public/images/banner-image-4.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 5% 0;
  background-attachment: fixed;
}
